@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --foreground-rgb: 0, 0, 0; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 231 62% 4%;
  }
  .dark {
    --background: 231 62% 4%;
    --foreground: 0 0% 98%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
 body {
    @apply bg-background text-foreground;
  }
}
